# required packages
scipy
heprops
spens
matplotlib
numpy
lmfit
pynverse
mpmath
jupyterlab
zenodo_get

## Installed from git
git+git://github.com/DelMaestroGroup/dgutils.git#egg=dgutils
git+git://github.com/DelMaestroGroup/pimcscripts.git#egg=pimcscripts
