# required packages
heprops
spens
matplotlib
numpy
scipy
lmfit
pynverse
mpmath

## Installed from git
git+git://github.com/DelMaestroGroup/dgutils.git#egg=dgutils
git+git://github.com/DelMaestroGroup/pimcscripts.git#egg=pimcscripts
git+git://github.com/shaharkadmiel/cmaptools.git#egg=cmaptools
